<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  style="visibility: visible"
  lang="fr"
  xml:lang="fr"
>
  <head>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta
      name="description"
      content="Salesforce Page de connexion client sécurisée. Connectez-vous à votre compte client Salesforce."
    />
    <title>Connexion | Salesforce</title>
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="/css/sfdc_210.css" />
    <style type="text/css">
      html {
        visibility: hidden;
      }
      a {
        color: #0070d2;
      }
      body {
        background-color: #f4f6f9;
      }
      #content,
      .container {
        background-color: #ffffff;
      }
      #header {
        color: #16325c;
      }
      body {
        display: table;
        width: 100%;
      }
      #content {
        margin-bottom: 24px;
      }
      #wrap {
        height: 100%;
      }
    </style>
    <style type="text/css">
      html {
        visibility: hidden;
      }
    </style>
    <script type="text/javascript">
      if (self == top) {
        document.documentElement.style.visibility = "visible";
      } else {
        document.write = "";
        top.location = self.location;
        setTimeout(function () {
          document.body.innerHTML = "";
        }, 1);
        window.self.onload = function (evt) {
          document.body.innerHTML = "";
        };
      }
    </script>
    <script>
      var SFDCSessionVars = {
        server: "https:\/\/login.salesforce.com\/login\/sessionserver212.html",
        im: false,
        ah: "actif",
        save: "Enregistrer",
        saveOne: "Enregistrer 1 modification",
        sum: "#p# noms d'utilisateur enregistrés",
        iaac: false,
        hac: "Choisir un nom d'utilisateur",
        suo: "1 nom d'utilisateur enregistré",
        title: " | Salesforce",
        saveMany: "Enregistrer #p# modifications",
        lpt: "Connexion",
        lllbl: "Lightning Login",
        host: "login.salesforce.com",
        le: false,
        heu: "Modifier la liste de noms d'utilisateur",
        ic: false,
        lh: false,
        hidp: "Se connecter à l'aide de",
        ih: "inactif",
        dc: "Nom d'utilisateur retiré. Cliquez sur Enregistrer pour appliquer les modifications.",
      };
    </script>
    <script src="/jslibrary/SfdcSessionBase208.js"></script>
    <script src="/jslibrary/LoginHint208.js"></script>
    <script>
      LoginHint.hideLoginForm();
    </script>
    <link rel="canonical" href="https://login.salesforce.com/?locale=fr" />
    <link
      rel="alternate"
      href="https://login.salesforce.com"
      hreflang="x-default"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=nb-no"
      hreflang="nb-no"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=de"
      hreflang="de"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=tw"
      hreflang="zh-Hant-tw"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=ru"
      hreflang="ru"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=fi"
      hreflang="fi"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=jp"
      hreflang="ja-jp"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=fr"
      hreflang="fr"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=br"
      hreflang="pt-br"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=se"
      hreflang="sv"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=uk"
      hreflang="en-gb"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=ca"
      hreflang="en-ca"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com"
      hreflang="en-us"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=in"
      hreflang="en-in"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=en-hk"
      hreflang="en-hk"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=kr"
      hreflang="ko-kr"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=cn"
      hreflang="zh-Hans-cn"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=mx"
      hreflang="es-mx"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=it"
      hreflang="it"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=fr-ca"
      hreflang="fr-ca"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=es"
      hreflang="es"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=ap"
      hreflang="en-sg"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=eu"
      hreflang="en"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=th"
      hreflang="th"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=au"
      hreflang="en-au"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=da-dk"
      hreflang="da-dk"
    />
    <link
      rel="alternate"
      href="https://login.salesforce.com/?locale=nl"
      hreflang="nl"
    />
  </head>
  <body onload="lazyload();">
    <div id="left" class="pr">
      <div id="wrap">
        <div id="main">
          <div id="wrapper">
            <div id="logo_wrapper" class="standard_logo_wrapper mb24">
              <div
                style="
                  height: 100%;
                  display: table-cell;
                  vertical-align: bottom;
                "
              >
                <img
                  aria-hidden="true"
                  id="logo"
                  class="standard_logo"
                  src="/img/logo214.svg"
                  alt="Salesforce"
                  border="0"
                  name="logo"
                />
                <span class="zen-assistiveText">Salesforce</span>
              </div>
            </div>
            <h2 id="header" class="mb12"></h2>
            <div id="content">
              <div id="chooser" style="display: none">
                <div
                  class="loginError"
                  id="chooser_error"
                  style="display: none"
                ></div>
                <div>
                  <span id="chooser_label" class="label"></span
                  ><a
                    href="javascript:void(0);"
                    id="edit"
                    class="fr small"
                    onclick="LoginHint.showEdit();"
                    >Modifier la liste</a
                  >
                </div>
                <div class="scrollable mt8"><ul id="idlist"></ul></div>
              </div>
              <div id="manager" style="display: none">
                <div class="nonscrollable mt8">
                  <ul
                    id="editlist"
                    class="mb24"
                    aria-live="polite"
                    aria-relevant="additions removals"
                  ></ul>
                </div>
                <div class="mt16">
                  <button
                    class="button primary fiftyfifty right"
                    id="hint_save_edit"
                    name="Save"
                    onclick="LoginHint.saveHintEdit();"
                  >
                    Enregistrer</button
                  ><button
                    class="button secondary fiftyfifty"
                    id="hint_back_edit"
                    name="Cancel"
                    onclick="LoginHint.showChooser();"
                  >
                    Annuler
                  </button>
                </div>
              </div>
              <div id="theloginform">
                <form
                  name="login"
                  method="post"
                  id="login_form"
                  onsubmit="handleLogin(); return false;"
                  action="https://login.salesforce.com/"
                  target="_top"
                  autocomplete="off"
                  novalidate="novalidate"
                >
                  <fieldset style="display: none"></fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
