/* Default : #1B262C
Primary : #0F4C75
Secodnary : #3282B8
Light : #BBE1FA */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --Default-color: #222831;
  --Primary-color: #0F4C75;
  --Secondary-color: #3282B8;
  --Light: #BBE1FA;
}

body {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--Default-color);
}